/*
seletor {
	regrasdeestilo: valor;
}

seletor de nome de tag: é o priprio nome de tag;
seletor de classe: usamos um . e o nome da classe:  exemplo .classe;
*/
body {
	background-color: #060b12;
	color: #acb3bd;
	font-family: Arial;
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 5px;
}

header {
	background-color: #131d2b;
	color: white;
	padding: 15px;
	text-align: center;
	height: 100px;
	border-bottom: 2px solid #5939c4;
}

.conteudo {
	padding: 20px;
	max-height: calc(100vh - 130px - 50px);
	max-width: calc(100vw - 293px);
	overflow-y: auto;
}

.indice ul {
	list-style: none;
	padding: 10px;
}

.indice ul li {
	list-style: none;
	padding: 3px;
	margin: 4px;
}

.indice a {
	text-decoration: none;
	color: royalblue;
}

.sidenav {
	background-color: #131d2b;
	position: absolute;
	top: 130px;
	right: 0;
	width: 250px;
	border-left: 2px solid #5939c4;
	height: calc(100vh - 130px);
}

.sidenav nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidenav nav ul li {
	display: flex;
	width: 100%;
}

.sidenav nav ul li a{
	text-decoration: none;
	color: #5939c4;
	padding: 10px;
	width: 100%;
}

.sidenav nav ul li a:hover{
	background-color: #5939c4;
	color: white;
}

footer {
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	background-color: #131d2b;
	text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,#694bcc, #a34bcc, #cc4b54);
  border-radius: 10px;
}